#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        sk_qck: sk_qck {
          compatible = "zmk,behavior-sticky-key";
          #binding-cells = <1>;
          bindings = <&kp>;
          release-after-ms = <3000>;
          quick-release;
          ignore-modifiers;
        };

        m_email: m_email {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          wait-ms = <10>;   // Optional: delay between actions
          tap-ms = <10>;    // Optional: hold duration for tap-type actions
          bindings =
            <
              &kp I &kp G &kp O &kp R
              &kp PERIOD
              &kp K &kp O &kp V &kp A &kp C &kp E &kp V &kp I &kp C
              &kp AT
              &kp G &kp M &kp A &kp I &kp L
              &kp PERIOD
              &kp C &kp O &kp M
            >;
        };

        m_vim_copy: m_vim_copy {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&kp DQT &kp PLUS &kp Y>;
        };

        m_vim_paste: m_vim_paste {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&kp DQT &kp PLUS &kp P>;
        };

        m_vim_sys_cb: m_vim_sys_cb {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&kp DQT &kp PLUS>;
        };

        m_sk_meh: m_sk_meh {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&sk LA(LC(LSHIFT))>;
        };

        m_sk_hyper: m_sk_hyper {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&sk LG(LA(LC(LSHIFT)))>;
        };

        m_kp_meh: m_kp_meh {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&kp LA(LC(LSHIFT))>;
        };

        m_kp_hyper: m_kp_hyper {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&kp LG(LA(LC(LSHIFT)))>;
        };

        m_i3_ws_left: m_i3_ws_left {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&kp LG(LA(LC(LS(LEFT))))>;
        };

        m_i3_ws_right: m_i3_ws_right {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&kp LG(LA(LC(LS(RIGHT))))>;
        };

        m_tmux_up: m_tmux_up {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&kp LC(B) &kp K>;
        };

        m_tmux_down: m_tmux_down {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&kp LC(B) &kp J>;
        };

        m_tmux_left: m_tmux_left {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&kp LC(B) &kp H>;
        };

        m_tmux_right: m_tmux_right {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&kp LC(B) &kp L>;
        };

        m_tmux_zoom: m_tmux_zoom {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&kp LC(B) &kp Z>;
        };

        // Croatian characters with caps word support
        hr_c_acute_cw: hr_c_acute_cw {
          compatible = "zmk,behavior-mod-morph";
          #binding-cells = <0>;
          mods = <(MOD_LSFT|MOD_RSFT)>;
          bindings = <&m_hr_c_acute>, <&m_hr_c_acute_upper>;
        };

        hr_c_caron_cw: hr_c_caron_cw {
          compatible = "zmk,behavior-mod-morph";
          #binding-cells = <0>;
          mods = <(MOD_LSFT|MOD_RSFT)>;
          bindings = <&m_hr_c_caron>, <&m_hr_c_caron_upper>;
        };

        hr_d_stroke_cw: hr_d_stroke_cw {
          compatible = "zmk,behavior-mod-morph";
          #binding-cells = <0>;
          mods = <(MOD_LSFT|MOD_RSFT)>;
          bindings = <&m_hr_d_stroke>, <&m_hr_d_stroke_upper>;
        };

        hr_s_caron_cw: hr_s_caron_cw {
          compatible = "zmk,behavior-mod-morph";
          #binding-cells = <0>;
          mods = <(MOD_LSFT|MOD_RSFT)>;
          bindings = <&m_hr_s_caron>, <&m_hr_s_caron_upper>;
        };

        hr_z_caron_cw: hr_z_caron_cw {
          compatible = "zmk,behavior-mod-morph";
          #binding-cells = <0>;
          mods = <(MOD_LSFT|MOD_RSFT)>;
          bindings = <&m_hr_z_caron>, <&m_hr_z_caron_upper>;
        };

        m_caps_word: m_caps_word {
          compatible = "zmk,behavior-macro";
          wait-ms = <10>;
          #binding-cells = <0>;
          bindings = <&kp F24 &caps_word>;
        };

        // Croatian character macros - lowercase
        m_hr_c_acute: m_hr_c_acute {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          wait-ms = <10>;
          tap-ms = <10>;
          bindings = <&kp RALT &kp SQT &kp C>;
        };

        m_hr_c_caron: m_hr_c_caron {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          wait-ms = <10>;
          tap-ms = <10>;
          bindings = <&kp RALT &kp V &kp C>;
        };

        m_hr_d_stroke: m_hr_d_stroke {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          wait-ms = <10>;
          tap-ms = <10>;
          bindings = <&kp RALT &kp MINUS &kp D>;
        };

        m_hr_s_caron: m_hr_s_caron {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          wait-ms = <10>;
          tap-ms = <10>;
          bindings = <&kp RALT &kp V &kp S>;
        };

        m_hr_z_caron: m_hr_z_caron {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          wait-ms = <10>;
          tap-ms = <10>;
          bindings = <&kp RALT &kp V &kp Z>;
        };

        // Croatian character macros - uppercase
        m_hr_c_acute_upper: m_hr_c_acute_upper {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          wait-ms = <10>;
          tap-ms = <10>;
          bindings = <&kp RALT &kp SQT &kp LS(C)>;
        };

        m_hr_c_caron_upper: m_hr_c_caron_upper {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          wait-ms = <10>;
          tap-ms = <10>;
          bindings = <&kp RALT &kp V &kp LS(C)>;
        };

        m_hr_d_stroke_upper: m_hr_d_stroke_upper {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          wait-ms = <10>;
          tap-ms = <10>;
          bindings = <&kp RALT &kp MINUS &kp LS(D)>;
        };

        m_hr_s_caron_upper: m_hr_s_caron_upper {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          wait-ms = <10>;
          tap-ms = <10>;
          bindings = <&kp RALT &kp V &kp LS(S)>;
        };

        m_hr_z_caron_upper: m_hr_z_caron_upper {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          wait-ms = <10>;
          tap-ms = <10>;
          bindings = <&kp RALT &kp V &kp LS(Z)>;
        };

        // Croatian character mod-morph behaviors
        hr_c_acute: hr_c_acute {
          compatible = "zmk,behavior-mod-morph";
          #binding-cells = <0>;
          mods = <(MOD_LSFT|MOD_RSFT)>;
          bindings = <&m_hr_c_acute>, <&m_hr_c_acute_upper>;
        };

        hr_c_caron: hr_c_caron {
          compatible = "zmk,behavior-mod-morph";
          #binding-cells = <0>;
          mods = <(MOD_LSFT|MOD_RSFT)>;
          bindings = <&m_hr_c_caron>, <&m_hr_c_caron_upper>;
        };

        hr_d_stroke: hr_d_stroke {
          compatible = "zmk,behavior-mod-morph";
          #binding-cells = <0>;
          mods = <(MOD_LSFT|MOD_RSFT)>;
          bindings = <&m_hr_d_stroke>, <&m_hr_d_stroke_upper>;
        };

        hr_s_caron: hr_s_caron {
          compatible = "zmk,behavior-mod-morph";
          #binding-cells = <0>;
          mods = <(MOD_LSFT|MOD_RSFT)>;
          bindings = <&m_hr_s_caron>, <&m_hr_s_caron_upper>;
        };

        hr_z_caron: hr_z_caron {
          compatible = "zmk,behavior-mod-morph";
          #binding-cells = <0>;
          mods = <(MOD_LSFT|MOD_RSFT)>;
          bindings = <&m_hr_z_caron>, <&m_hr_z_caron_upper>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_wheel: scroll_wheel {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
    };

    keymap {
        compatible = "zmk,keymap";



  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //  L0: BAS - Base Layer
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        default_layer {
            display-name = "BAS";
            bindings = <
/* +----------------+----------------+----------------+----------------+----------------+----------------+                                            +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+
   | L: MOU         | Q              | W              | E              | R              | T              |                                            | PLAY           |                         | Y              | U              | I              | O              | P              | L: APP         |
   +----------------+----------------+----------------+----------------+----------------+----------------+                                            +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+  */
    &none            &kp Q            &kp W            &kp E            &kp R            &kp T                                                         &kp C_PLAY                                 &kp Y            &kp U            &kp I            &kp O            &kp P            &none

/* +----------------+----------------+----------------+----------------+----------------+----------------+                           +----------------+----------------+----------------+        +----------------+----------------+----------------+----------------+----------------+----------------+
   | L: SYM         | A              | S              | D              | F          *** | G              |                           | PREV MEDIA     | PLAY/PAUSE     | NEXT MEDIA     |        | H              | J          *** | K              | L              | ; :            | L: CRO         |
   +----------------+----------------+----------------+----------------+----------------+----------------+                           +----------------+----------------+----------------+        +----------------+----------------+----------------+----------------+----------------+----------------+  */
    &sl 3            &kp A            &kp S            &kp D            &kp F            &kp G                                        &kp C_PREV       &kp C_PP         &kp C_NEXT                &kp H            &kp J            &kp K            &kp L            &kp SEMI         &sl 4

/* +----------------+----------------+----------------+----------------+----------------+----------------+      +----------------+                    +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+
   | L: FUN         | Z              | X              | C              | V              | B              |      | VOLUME / MUTE  |                    | STOP           |                         | N              | M              | , '            | . "            | / ?            | L: LED         |
   +----------------+----------------+----------------+----------------+----------------+----------------+      +----------------+                    +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+  */
    &none            &kp Z            &kp X            &kp C            &kp V            &kp B                   &kp C_MUTE                            &kp C_STOP                                 &kp N            &kp M            &kp COMMA        &kp DOT          &kp FSLH         &none

/*                                                    +----------------+----------------+----------------+                                                                                       +----------------+----------------+----------------+
                                                      | ESC            | L: NAS         | L: NUM         |                                                                                       | SHIFT          | SPACE          | ENTER          |
                                                      +----------------+----------------+----------------+                                                                                       +----------------+----------------+----------------+  */
                                                       &kp ESC          &mo 1            &mo 2                                                                                                    &kp LSHFT        &kp SPACE        &kp ENTER
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };



  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //  L1: NAV - Navigation Layer (with Sticky Mods)
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        layer_nav {
            display-name = "NAV";
            bindings = <
/* +----------------+----------------+----------------+----------------+----------------+----------------+                                            +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+
   | [L: MOU]       |                | MEH (sk)       | HYPER (sk)     | RALT/Comose    |                |                                            | PAGE UP        |                         | HOME           | PAGE DOWN      | PAGE UP        | END            | PRINT SCREEN   | LOCK LAYER     |
   +----------------+----------------+----------------+----------------+----------------+----------------+                                            +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+  */
    &trans           &none            &m_sk_meh        &m_sk_hyper      &kp RALT         &none                                                         &kp PG_UP                                  &kp HOME         &kp PG_DN        &kp PG_UP        &kp END          &kp PSCRN        &tog 1

/* +----------------+----------------+----------------+----------------+----------------+----------------+                           +----------------+----------------+----------------+        +----------------+----------------+----------------+----------------+----------------+----------------+
   | [L: SYM]       | GUI (sk)       | ALT (sk)       | CTRL (sk)      | SHIFT (sk) *** |                |                           | HOME           | PRINT SCREEN   | END            |        | LEFT           | DOWN       *** | UP             | RIGHT          | REPEAT         | [L: CRO]       |
   +----------------+----------------+----------------+----------------+----------------+----------------+                           +----------------+----------------+----------------+        +----------------+----------------+----------------+----------------+----------------+----------------+  */
    &trans           &sk LGUI         &sk LALT         &sk LCTRL        &sk_qck LSHIFT   &none                                        &kp HOME         &kp PSCRN        &kp END                   &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT        &key_repeat      &trans

/* +----------------+----------------+----------------+----------------+----------------+----------------+      +----------------+                    +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+
   | [L: FUN]       |                |                |                |                |                |      | VOLUME / MUTE  |                    | PAGE DOWN      |                         | E-MAIL         | VIM COPY       | VIM PASTE      | VIM SYS CLPB   | INSERT         | [L: LED]       |
   +----------------+----------------+----------------+----------------+----------------+----------------+      +----------------+                    +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+  */
    &trans           &none            &none            &none            &none            &none                   &trans                                &kp PG_DN                                  &m_email         &m_vim_copy      &m_vim_paste     &m_vim_sys_cb    &kp INSERT       &trans


/*                                                    +----------------+----------------+----------------+                                                                                       +----------------+----------------+----------------+
                                                      | [ESC]          | XXXXXXXX       | [L: NUM]       |                                                                                       | DELETE         | TAB            | BACK SPACE     |
                                                      +----------------+----------------+----------------+                                                                                       +----------------+----------------+----------------+  */
                                                       &trans           &trans           &trans                                                                                                   &kp DEL          &kp TAB          &kp BSPC
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };



  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //  L2: NUM - Numeric Layer
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        layer_num {
            display-name = "NUM";
            bindings = <
/* +----------------+----------------+----------------+----------------+----------------+----------------+                                            +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+
   |                |                | MEH            | HYPER          |                |                |                                            | WS 1 (first)   |                         |                | 7              | 8              | 9              |                | LOCK LAYER     |
   +----------------+----------------+----------------+----------------+----------------+----------------+                                            +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+  */
    &trans           &none            &m_kp_meh        &m_kp_hyper      &none            &none                                                         &kp LG(N1)                                 &none            &kp N7           &kp N8           &kp N9           &none            &tog 2

/* +----------------+----------------+----------------+----------------+----------------+----------------+                           +----------------+----------------+----------------+        +----------------+----------------+----------------+----------------+----------------+----------------+
   | [L: SYM]       | GUI            | ALT            | CTRL           | SHIFT      *** |                |                           | PREV WS        | WS 5           | NEXT WS        |        | *              | 1          *** | 2              | 3              | =              | [L: CRO]       |
   +----------------+----------------+----------------+----------------+----------------+----------------+                           +----------------+----------------+----------------+        +----------------+----------------+----------------+----------------+----------------+----------------+  */
    &trans           &kp LGUI         &kp LALT         &kp LCTRL        &kp LSHFT        &none                                        &m_i3_ws_left    &kp LG(N5)       &m_i3_ws_right            &kp ASTERISK     &kp N1           &kp N2           &kp N3           &kp EQUAL        &trans

/* +----------------+----------------+----------------+----------------+----------------+----------------+      +----------------+                    +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+
   | [L: FUN]       |                |                |                |                |                |      | VOLUME / MUTE  |                    | WS 10 (last)   |                         |                | 4              | 5              | 6              |                | [L: LED]       |
   +----------------+----------------+----------------+----------------+----------------+----------------+      +----------------+                    +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+  */
    &trans           &none            &none            &none            &none            &none                   &trans                                &kp LG(N0)                                 &none            &kp N4           &kp N5           &kp N6           &none            &none

/*                                                    +----------------+----------------+----------------+                                                                                       +----------------+----------------+----------------+
                                                      | [ESC]          | XXXXXXXX       | [L: NUM]       |                                                                                       | -              | 0              | +              |
                                                      +----------------+----------------+----------------+                                                                                       +----------------+----------------+----------------+  */
                                                       &trans           &trans           &trans                                                                                                   &kp MINUS        &kp N0           &kp PLUS
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };



  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //  L3: SYM - Symbols Layer
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        layer_sym {
            display-name = "SYM";
            bindings = <
/* +----------------+----------------+----------------+----------------+----------------+----------------+                                            +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+
   |                |                | MEH            | HYPER          |                |                |                                            | TMUX UP        |                         |                | %              | {              | }              |                | [L: APP]       |
   +----------------+----------------+----------------+----------------+----------------+----------------+                                            +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+  */
    &trans           &none            &m_kp_meh        &m_kp_hyper      &none            &none                                                         &m_tmux_up                                 &none            &kp PRCNT        &kp LBRC         &kp RBRC         &none            &trans

/* +----------------+----------------+----------------+----------------+----------------+----------------+                           +----------------+----------------+----------------+        +----------------+----------------+----------------+----------------+----------------+----------------+
   | [L: SYM]       | GUI            | ALT            | CTRL           | SHIFT      *** |                |                           | TMUX LEFT      | TMUX ZOOM      | TMUX RIGHT     |        | @              | &          *** | (              | )              | /              | [L: CRO]       |
   +----------------+----------------+----------------+----------------+----------------+----------------+                           +----------------+----------------+----------------+        +----------------+----------------+----------------+----------------+----------------+----------------+  */
    &trans           &kp LGUI         &kp LALT         &kp LCTRL        &kp LSHFT        &none                                        &m_tmux_left     &m_tmux_zoom     &m_tmux_right             &kp AT           &kp AMPS         &kp LPAR         &kp RPAR         &kp FSLH         &trans

/* +----------------+----------------+----------------+----------------+----------------+----------------+      +----------------+                    +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+
   | [L: FUN]       |                |                |                |                |                |      | VOLUME / MUTE  |                    | TMUX DOWN      |                         |                | !              | [              | ]              |                | [L: LED]       |
   +----------------+----------------+----------------+----------------+----------------+----------------+      +----------------+                    +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+  */
    &trans           &none            &none            &none            &none            &none                   &trans                                &m_tmux_down                               &none            &kp EXCL         &kp LBKT         &kp RBKT         &none            &none

/*                                                    +----------------+----------------+----------------+                                                                                       +----------------+----------------+----------------+
                                                      |                | TMUX LEADER    | CAPS WORD      |                                                                                       | `              | '              | "              |
                                                      +----------------+----------------+----------------+                                                                                       +----------------+----------------+----------------+  */
                                                       &none            &kp LC(B)        &m_caps_word                                                                                             &kp GRAVE        &kp SQT           &kp DQT
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };


  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //  L4: CRO - Croatian Symbols Layer
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        layer_cro {
            display-name = "CRO";
            bindings = <
/* +----------------+----------------+----------------+----------------+----------------+----------------+                                            +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+
   |                |                | <              | >              | ~              |                |                                            | [PLAY]         |                         |                |                | HYPER          | MEH            |                | [L: APP]       |
   +----------------+----------------+----------------+----------------+----------------+----------------+                                            +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+  */
    &trans           &none            &kp LT           &kp GT           &kp TILDE        &none                                                         &trans                                     &none            &none            &m_kp_hyper      &m_kp_meh        &none            &trans

/* +----------------+----------------+----------------+----------------+----------------+----------------+                           +----------------+----------------+----------------+        +----------------+----------------+----------------+----------------+----------------+----------------+
   | [L: SYM]       | \              | Š              | Đ              | _          *** | |              |                           | [PREV]         | [PAUSE]        | [NEXT]         |        |                | RSHIFT     *** | RCTRL          | RALT           | RGUI           | [L: CRO]       |
   +----------------+----------------+----------------+----------------+----------------+----------------+                           +----------------+----------------+----------------+        +----------------+----------------+----------------+----------------+----------------+----------------+  */
    &trans           &kp BSLH         &hr_s_caron_cw   &hr_d_stroke_cw  &kp UNDER        &kp PIPE                                     &trans           &trans           &trans                    &none            &kp RSHFT        &kp RCTRL        &kp RALT         &kp RGUI         &trans

/* +----------------+----------------+----------------+----------------+----------------+----------------+      +----------------+                    +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+
   | [L: FUN]       | Ž              | Ć              | Č              | ?              |                |      | SCROLL WHEEL   |                    | [STOP]         |                         |                |                |                |                |                | [L: LED]       |
   +----------------+----------------+----------------+----------------+----------------+----------------+      +----------------+                    +----------------+                         +----------------+----------------+----------------+----------------+----------------+----------------+  */
    &trans           &hr_z_caron_cw   &hr_c_acute_cw   &hr_c_caron_cw   &kp QMARK        &none                   &kp PG_DN                             &trans                                     &none            &none            &none            &none            &none            &trans

/*                                                    +----------------+----------------+----------------+                                                                                       +----------------+----------------+----------------+
                                                      | ^              | #              | $              |                                                                                       | CAPS LOCK      |                |                |
                                                      +----------------+----------------+----------------+                                                                                       +----------------+----------------+----------------+  */
                                                       &kp CARET        &kp HASH         &kp DLLR                                                                                                 &kp CLCK         &none            &none
            >;
            sensor-bindings = <&scroll_wheel>;
        };
    };
};
